/* variables */
:root {
    --background: #1E1E1E;
    --theme: #92CCCD;
    --navbar: #31343D;
    --contentTheme: #445877;
}

html {
    font-family: sans-serif
}

body {
    background-color: var(--background);
}

.name {
    display: flex;
    margin-left: 0px;
    font-size: 25px;
    float: left;
}

.name img{
    margin-top: 20px;
}

.name div h1 {
    color: var(--navbar)
}

.name div{
    margin-top: 20px;
    margin-left: 20px;
    padding-left: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 5px;
    background-color: var(--theme);
}

.navbar div {
    margin-left: 20px;
    background-color: var(--navbar);
}

.navbar div ul {
    list-style-type: none;
    margin-right: 80px;
    padding: 50px;
    overflow: hidden;
    background-color: #333;
}
.navbar div ul li {

    float: right;
}
.navbar div ul li a {
    margin: 1px;
    display: block;
    color: var(--theme);
    text-align: center;
    padding: 40px 16px 40px 16px;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    font-size: 20px;
}

.navbar div ul li a:hover {
    background-color: #111;
}

.bottom {
    background-color: #EDEEF6;
}

.about {
    display: flex;
    align-items: center;
    color: var(--contentTheme);

    margin-top: 10px;
    margin-right: 5px;
}

.about div h2 {
    font-size: 46px;
}

.title h2 {
    margin: 10px;
    float: left;
}

.info p{
    padding-left: 50px;
    border-left: 2px solid var(--contentTheme);
}

.work {
    margin-top: 10px;
    margin-right: 5px;

    display: flex;
    align-items: center;

    color: var(--contentTheme)
}

.work div h2 {
    font-size: 50px;
    margin: 14.5px;
    float: left;
}

.content {
    padding-left: 50px;
    border-left: 2px solid var(--contentTheme);
}

.intialapp {
    background-color: var(--theme);
    opacity: 0.7;
    margin: 0;
    height: auto;
    width: 1035px;
}

.intialapp:hover {
    opacity: 1;
}

.intialapp div {
    width: 100px;
    padding: 5px;
    background-color: var(--theme);
    position: relative;
    top: 200px;
}

.intialapp img{
    border: 5px solid var(--theme);
    z-index: -1;
}

.initialapp div{
    opacity: 1;
}

.notfirst {
    display: flex;
}

.notfirst #one {
    opacity: 0.7;
}

.notfirst #one:hover {
    opacity: 1;
}

.notfirst #two {
    opacity: 0.7;
}

.notfirst #two:hover {
    opacity: 1;
}

.notfirst div {
    margin: 10px;
}

.notfirst div img{
    border: 5px solid var(--theme);

}

.otherapp div {
    width: 100px;
    padding: 5px;
    background-color: var(--theme);
    position: relative;
    top: 200px;
    right: 5px;
}